# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY=MY_GEMINI_API_KEY

# CLAUDE_API_KEY: Required for Claude AI API calls.
CLAUDE_API_KEY=MY_CLAUDE_API_KEY

# OPENAI_API_KEY: Required for OpenAI API calls.
OPENAI_API_KEY=MY_OPENAI_API_KEY

# KIMI_API_KEY: Required for Kimi AI API calls.
KIMI_API_KEY=MY_KIMI_API_KEY
